<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <div class="container">
      <h1> Git-Search</h1>
      <p>Feel free and Search for the User</p>
      <hr>
  </div>

  <div class="row">
    <div class="col-sm-9">
        <div class="input">
          <input placeholder="Enter Username" [(ngModel)]="userName">
          <button (click)="MoreInfo()">SEARCH</button>
        </div>
    </div>
    

        <div id="info">
          <h2>{{gitInfo.name}}</h2>
            <h2>Location:{{gitInfo.location}}</h2>
            <h2>Repositories: {{gitInfo.public_repos}}</h2>
            <h2>Followers: {{gitInfo.followers}}</h2>
            <h2>Following: {{gitInfo.following}}</h2>

            <h3><a [href]="gitInfo.html_url">View Repos:</a></h3>
        </div>
      </div>
  </div>

 
