<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Git-Search
  </h1>
  <hr>
  <img width="300" alt="Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS119L4ZnTP5keVNKvZW5gkkxvaHKTlENRU-H7v1HaLiaVpD6sJ">
</div>

  <div class='contact'>
<form action="">
  <label for="name">Search</label>
<input type="text" class="form-control" placeholder="Search User or Repo"><br><br>
<input type="Search" value="Search">
</form>
<hr>

<form >
     Username:<br>
  <input type="text" name="Username"><br>
  Email:<br>
  <input type="text" name="Email"><br>
  Password:<br>
  <input type="text" name="Password"><br>
  <br>
  <input type="Login" value="Login">
</form>
</div>

