/* You can add global styles to this file, and also import other style files */
@import "~bootstrap3/dist/css/bootstrap.css";
body{
    background-color:rgb(4, 99, 94);
    background-image:Url("")
}
h2{
    text-align: center;
    color: aquamarine;
    font-style: italic;
}
p{
    color:rgb(24, 23, 21);
    font-size:20px;
    font-style: italic;
}
h1{
    text-align: center;
    font-size:70px;
    font-style:italic;
}